<%- include('partials/head'); -%>

<%- include('partials/header_admin'); -%>

<!-- Start Main -->
<main class="main">
    <!-- Button scroll to top -->
    <button type="button" class="btn-back-to-top">
        <i class="fas fa-2x fa-arrow-up"></i>
    </button>

    <section class="account-sidebar-content"> <!-- Section update menu -->
        <div class="sidebar"> <!-- Div sidebar -->
            <a href="/update-menu">Modifier le menu</a>
            <a href="/show-bookings">Afficher les réservations</a>
            <a href="/show-orders">Afficher les commandes</a>
            <a href="/logout" class="logout-link">Se déconnecter</a>
        </div> <!-- End div sidebar -->

        <div class="update-menu-content"> <!-- Div update menu content -->
            <div class="div-add-meal"> <!-- Div add meal -->
                <h2>Ajouter un plat au menu</h2>
                <form id="addMealForm" class="addMealForm" action="/update-menu/add-meal" method="POST" enctype='multipart/form-data'> <!-- Form Add Meal -->
                    <label for="name_meal">Nom du plat</label>
                    <input type="text" placeholder="Nom du plat" id="name_meal" name="name_meal" required />
                    
                    <label for="files">Image</label>
                    <input type="file" id="files" name="image_meal" multiple required />

                    <label for="description_meal">Description</label>
                    <textarea placeholder="Description" id="description_meal"  name="description_meal" required></textarea>

                    <label for="price_meal">Prix</label>
                    <input type="number" step="0.1" placeholder="Prix" id="price_meal" name="price_meal" required />

                    <p id="success-add-meal" class="success-message"></p>
                    <p id="alert-add-meal" class="alert-message"></p>

                    <button type="submit" class="add-meal-btn">Enregistrer le nouveau plat</button>
                </form> <!-- End Form Add Meal -->
            </div> <!-- End div add meal -->

            <div class="div-delete-meal"> <!-- Div delete meal -->
                <h2>Supprimer un plat du menu</h2>
                <form id="deleteMealForm" class="deleteMealForm" action="/update-menu/delete-meal" method="POST"> <!-- Form Delete Meal -->
                    <label for="list_meals">Sélectionner le plat à supprimer</label>
                    <select class="update-list-meals" id="list_meals" name="list_meals" required>
                        <option value="">...</option>
                        <% meals.forEach( el => { %>
                            <option value="<%= el.id %>"><%= el.nameMeal %></option>
                        <% }) %>
                    </select>

                    <label for="access_password">Veuillez renseigner votre mot de passe pour procéder à la suppression</label>
                    <input type="password" placeholder="Mot de passe" id="access_password" name="access_password" required />

                    <% if(alertDeleteMeal != undefined){ %>
                        <p class="alert-message"><%= alertDeleteMeal %></p>
                    <% } %>
                    
                    <% if(successDeleteMeal != undefined){ %>
                        <p class="success-message"><%= successDeleteMeal %></p>
                    <% } %>

                    <button type="submit" class="delete-meal-btn">Supprimer le plat</button>
                </form><!-- End Form Delete Meal -->
            </div> <!-- End div delete meal -->

            <div class="div-update-meal"> <!-- Div update meal -->
                <h2>Modifier les informations d'un plat</h2>
                <form id="updateMealForm" class="updateMealForm" action="/update-menu/update-meal" method="POST"> <!-- Form Udpate Meal -->
                    <label for="list_meals_update">Sélectionner le plat à modifier</label>
                    <select class="update-list-meals" id="list_meals_update" name="list_meals" required> 
                        <option value="">...</option>
                        <% meals.forEach( el => { %>
                            <option value="<%= el.id %>"><%= el.nameMeal %></option>
                        <% }) %>
                    </select>

                    <label for="update_name_meal">Modifier le nom</label>
                    <input type="text" placeholder="Nom du plat" id="update_name_meal" name="update_name_meal"/>

                    <label for="update_description_meal">Modifier la description</label>
                    <textarea placeholder="Description" id="update_description_meal" name="update_description_meal"></textarea>

                    <label for="update_price_meal">Modifier le prix</label>
                    <input type="number" step="0.1" placeholder="Prix" id="update_price_meal" name="update_price_meal" />

                    <% if(alertUpdateMeal != undefined){ %>
                        <p class="alert-message"><%= alertUpdateMeal %></p>
                    <% } %>
                    
                    <% if(successUpdateMeal != undefined){ %>
                        <p class="success-message"><%= successUpdateMeal %></p>
                    <% } %>

                    <button type="submit" class="update-meal-btn">Enregistrer les modifications</button>
                </form><!-- End Form Udpate Meal -->
            </div> <!-- End div update meal -->

            <div class="div-upload-image"> <!-- Div upload image -->
                <form id="uploadImageForm" class="uploadImageForm" action="/update-menu/upload-image" method="POST" enctype='multipart/form-data'> <!-- Form Upload Image -->
                    <label for="list_meals_upload">Modifier l'image d'un plat</label>
                    <select class="update-list-meals" id="list_meals_upload" name="list_meals" required>
                        <option value="">...</option>
                        <% meals.forEach( el => { %>
                            <option value="<%= el.id %>"><%= el.nameMeal %></option>
                        <% }) %>
                    </select>

                    <label for="new_image">Nouvelle image</label>
                    <input type="file" id="new_image" name="new_image" multiple required />

                    <p id="upload-image-success" class="success-message"></p>
                    <p id="upload-image-alert" class="alert-message"></p>

                    <button type="submit" class="upload-image-btn">Changer l'image</button>
                </form><!-- End Form Upload Image -->
            </div> <!-- End div upload image -->

        </div><!-- End div update menu content -->
        
    </section> <!-- End section update menu -->
</main>
<!-- End Main -->

<%- include('partials/footer'); -%>